<%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
    <div class = "row">
        <div class = "col-auto">
        <%= f.text_field :content, placeholder: "New Todo", class: "form-control col-auto" %>
        </div>
        
        <div class = "col-auto sub">
            <%= f.submit %>
        </div>
    </div>  
<% end %>