<h1 class = "display-5 mt-5">Edit todo list</h1>

<%= render "form", todo_list: @todo_list %>

<br>

<div>
  <%= link_to "Show this todo list", @todo_list, class: "btn btn-outline-primary btn-sm" %> |
  <%= link_to "Back to todo lists", todo_lists_path, class: "btn btn-outline-primary btn-sm" %>
</div>
