<div class = "flashes">
    <p style="color: green"><%= notice %></p>
</div>

<h1 class="display-2">Todo lists</h1>
<hr>

<div id="todo_lists">
    <% @todo_lists.each do |todo_list| %>
        <div class = "card mt-2">
            <%= render todo_list %>
            <div class="d-flex mb-2">
                <%= link_to "Show Todo", todo_list, class: "mx-2 btn btn-outline-primary btn-sm" %>
            </div>
        </div>
    <% end %>
</div>

<%= link_to "New todo list", new_todo_list_path, class: "btn btn-outline-primary mt-4" %>
